<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/786eeed1-c52a-484e-83fc-e3e78fe22614/resourceGroups/jornada-dotnet/providers/Microsoft.Web/sites/samnascimento-trackr</ResourceId>
    <ResourceGroup>jornada-dotnet</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://samnascimento-trackr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7cd721ac-32c0-43df-a31b-f626276b00b5</ProjectGuid>
    <PublishUrl>https://samnascimento-trackr.scm.azurewebsites.net/</PublishUrl>
    <UserName>$samnascimento-trackr</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>